@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-custom-gradient {
  background: linear-gradient(
    88.13deg,
    #252525 -42.06%,
    #3a3a3a 58.46%,
    #323232 165.46%
  );
}


p{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
